* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: libre baskerville;

  }



  body {
    position: relative;
  }

  header {
    position: relative;
    display: block;
    padding: 15px;
    margin-bottom: 50px;
    background-color: #d9a881;
    color: white;
  }

.js-quotes {
 text-align: center;
 border: 1px solid grey;
 display: block;
 padding: 15px;
margin-left: 20px;
margin-right: 20px;
margin-bottom: 20px;
}

  /* .js-news {
  } */


  form {
    border: 1px solid grey;
    display: block;
    padding: 15px;
    margin-left: 20px;
  }

  .js-sun {
    display: block;
    background-color:#e3d5c6;
    border: 1px solid grey;
    padding: 15px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .js-search-form {
    display: block;
  }

  input button {
    display: block;
  }

  .js-news {
    display: block;
  }

  /* .results {
    display: block;
  } */
