* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: libre baskerville;
 

  }



body {
  position: relative;
  background-color: #ece9e4;
  background: url('https://i.imgur.com/J3Le9Aw.jpg') no-repeat /* center center */ fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {
  height: 60px;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  background: #573718;
  color: white;
}

main {
  margin-top: 100px;
}

h1 {
  padding: 10px;
}

h3 {
  font-size: 1em;
  font-weight: bold;
}

.line {
  margin-top: 7.5px;
  margin-bottom: 7.5px;
}
.quote {
  text-align: center;
  display: block;

}

.rituals {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.js-quotes {
  text-align: center;
  display: block;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}


.day {
  border: 3px solid grey;
  border-radius: 9px;
  padding: 20px;
}

.news {
  /* margin-top: 40px; */
  border: 3px solid grey;
  border-radius: 9px;


}

form {
  padding: 15px;
  margin-left: 20px;
}

/* .filter {
  border: 1px solid grey;
} */

/* .js-sun {
  display: block;
  background-color:#e3d5c6;
  padding: 15px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
} */

.js-search-form {
  display: block;
}

input button {
  display: block;
  margin: 5px;
  padding: 10px;
}

input {
  padding: 5px;
}

button {
  padding: 5px;
  background-color: #d9a881;
}



.js-news {
  /* display: block; */
  /* margin-left: 20px;
  padding: 15px; */
  background-color:#ece9e4;
  
}

.result {
  margin-top: 5px;
  padding: 15px;
}

.result:hover, button:focus  {
  display: block;
  background-color: white;
}



a:link {
  color: black;
  text-decoration: none;
}


@media only screen and (min-width: 1200px) {
  .box {
    display: flex;
  }
  .news {
      margin-left: 15px;
      width: 60%;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      min-width: 0;
  }

  .box .news {
      /* padding-right: 40px; */
      /* -webkit-box-flex: 0;
      -webkit-flex: 0 0 400px;
      -ms-flex: 0 0 400px;
      flex: 0 0 400px; */
  }

  .day {
      width: 40%;

  }

}


button:hover {
  background: white;
}

input {
  border: 1px solid grey;
  border-radius: 2px;
}

@media only screen and (max-witdh: 1199){
  .day {
    margin-bottom: 20px;
  }
}


@media only screen and (max-width: 640px) {

  * {
    font-size: 30px;
  }

  .rituals {
    margin-bottom: 40px;
  }


  .day {
    width: 100%;
    margin-bottom: 20px;
  }

  .news {
    width: 100%;
    font-size: 100px;

  }

  input {
    width: 100%
  }
}

