* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: libre baskerville;
 

  }



body {
  position: relative;
  background-color: #ece9e4;
  background: url('https://i.imgur.com/J3Le9Aw.jpg') no-repeat /* center center */ fixed;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

header {
  position: relative;
  display: block;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  background-color: #d9a881;
  color: white;
}

h3 {
  margin: 5px;
}

.js-quotes {
  text-align: center;
  display: block;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}



form {
  display: block;
  padding: 15px;
  margin-left: 20px;
}

.filter {
  border: 1px solid grey;
}

  .js-sun {
    display: block;
    background-color:#e3d5c6;
    padding: 15px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .js-search-form {
    display: block;
  }

  input button {
    display: block;
    margin: 5px;
    padding: 10px;
  }
input {
  padding: 5px;
}
  button {
    padding: 5px;
    background-color: #d9a881;
  }

  .sun {
    margin-top: 15px;
  }

  .js-news {
    display: block;
    margin-left: 20px;
    padding: 15px;
  }

button:hover, button:focus {
  background-color: #ffd95c;
  color: white;
}

  /* .results {
    display: block;
  } */
